<section class="register">
  <div class="header">
    <h3>Sign Up</h3>
    <p>It's quick and easy</p>
  </div>

  <div class="body">
    <form [formGroup]="addUser">
      <div class="user_name">
        <input type="text" placeholder="FirstName" formControlName="firstname" />
        <input type="text" placeholder="LastName" formControlName="lastname" />
      </div>

      <div class="email_password">
        <input type="text" formControlName="email" placeholder="email" />
        <!-- <input type="text" formControlName="imageurl" placeholder="Image Url" /> -->
        <input type="text" formControlName="password" placeholder="password" />
      </div>

      <p>
        By clicking Sign Up, you agree to our Terms, Data Policy and Cookie
        Policy. You may receive SMS notifications from us and can opt out at any
        time.
      </p>

      <button type="submit" class="submit-button" [mat-dialog-close]="addUser.value" 
      (click)="postUser(selectedUser)" [disabled]="addUser.invalid">Sign Up</button>

              <!-- <button type="submit" class="submit-button" (click)="postUser(selectedUser)" [disabled]="addUser.invalid">
        Sign Up
      </button> -->
    </form>
  </div>
</section>
