<br>
<label for="fbusers">Search for a User or Friend : </label>
<select name="fbusers" id="fbusers">
  <option value="users">Users</option>
  <option value="friends">Friends</option>
  <option value="home">Home</option> 
  <option value="google">Google</option> 
</select>
<br><br>
<a routerLink="/posts">Posts</a>
<app-user-input [selectedUser]="selectedUser$ | async"></app-user-input>

<input type="text" class="form-control" [(ngModel)] = "filterString" placeholder="search" />

<ul>
    <li [ngStyle]= "{ color: checkSelected(selectedUser, user) }" *ngFor='let user of users | filter:filterString'>
        {{user.firstname}}  {{user.lastname}}
        
        <button (click) = "deleteUser(user)">X</button>
        <button (click) = "selectUser(user, selectedUser)">U</button>
       
    </li>
</ul>  


